<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\fft-internal.log">

  <!-- Define targets -->
  <targets>
    <!-- File target -->
    <target xsi:type="File" name="file"
            fileName="${specialfolder:folder=CommonApplicationData}/FFTStudio/Logs/fft-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=toString}"
            archiveFileName="${specialfolder:folder=CommonApplicationData}/FFTStudio/Logs/archive/fft-${shortdate}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- Console target for debugging -->
    <target xsi:type="Console" name="console"
            layout="${time}|${level:uppercase=true}|${logger:shortName=true}|${message}" />

    <!-- Debug output target -->
    <target xsi:type="Debugger" name="debugger"
            layout="${time}|${level:uppercase=true}|${logger:shortName=true}|${message}" />
  </targets>

  <!-- Define rules -->
  <rules>
    <!-- Write all logs to file -->
    <logger name="*" minlevel="Debug" writeTo="file" />

    <!-- Write debug and above to console (only in debug builds) -->
    <logger name="*" minlevel="Debug" writeTo="console" />

    <!-- Write trace and above to debugger -->
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>
